---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=hhp47b5bvjda7pj44gsauf78&format=json&show=storeType,longName,city,distance,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":17,"totalPages":2,"queryTime":"0.008","totalTime":"0.019","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=storeType,longName,city,distance,phone&format=json&apiKey=hhp47b5bvjda7pj44gsauf78","stores":[{"storeType":"Mobile
        SAS","longName":"Cherry Creek Shopping Center","city":"Denver","distance":3.45,"phone":"303-270-9189"},{"storeType":"Big
        Box","longName":"Belmar","city":"Lakewood","distance":5.31,"phone":"303-742-8039"},{"storeType":"Big
        Box","longName":"Colorado Blvd","city":"Denver","distance":5.59,"phone":"303-758-5805"},{"storeType":"Big
        Box","longName":"Denver West","city":"Lakewood","distance":8.39,"phone":"303-273-5617"},{"storeType":"Big
        Box","longName":"Westminster","city":"Westminster","distance":8.52,"phone":"303-426-4434"},{"storeType":"Big
        Box","longName":"Northglenn","city":"Denver","distance":9.14,"phone":"303-252-8677"},{"storeType":"Mobile
        SAS","longName":"Town Center at Aurora","city":"Aurora","distance":9.73,"phone":"303-326-0848"},{"storeType":"Big
        Box","longName":"Aurora","city":"Aurora","distance":9.79,"phone":"303-338-5797"},{"storeType":"Big
        Box","longName":"Littleton","city":"Lakewood","distance":10.44,"phone":"303-932-7830"},{"storeType":"Big
        Box","longName":"Southglenn","city":"Centennial","distance":11.02,"phone":"303-797-3246"}],"warnings":"Distances
        are in terms of miles (default)"}'
  recorded_at: Wed, 01 Nov 2017 16:29:59 GMT
recorded_with: VCR 3.0.3
