---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=hhp47b5bvjda7pj44gsauf78&format=json&pageSize=17&show=storeType,longName,city,distance,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":17,"currentPage":1,"total":17,"totalPages":1,"queryTime":"0.016","totalTime":"0.034","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=storeType,longName,city,distance,phone&pageSize=17&format=json&apiKey=hhp47b5bvjda7pj44gsauf78","stores":[{"storeType":"Mobile
        SAS","longName":"Cherry Creek Shopping Center","city":"Denver","distance":3.45,"phone":"303-270-9189"},{"storeType":"Big
        Box","longName":"Belmar","city":"Lakewood","distance":5.31,"phone":"303-742-8039"},{"storeType":"Big
        Box","longName":"Colorado Blvd","city":"Denver","distance":5.59,"phone":"303-758-5805"},{"storeType":"Big
        Box","longName":"Denver West","city":"Lakewood","distance":8.39,"phone":"303-273-5617"},{"storeType":"Big
        Box","longName":"Westminster","city":"Westminster","distance":8.52,"phone":"303-426-4434"},{"storeType":"Big
        Box"[...]
