---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=hhp47b5bvjda7pj44gsauf78&format=json&pageSize=2&show=storeId,storeType,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":2,"currentPage":1,"total":17,"totalPages":9,"queryTime":"0.012","totalTime":"0.025","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=storeId,storeType,name&pageSize=2&format=json&apiKey=hhp47b5bvjda7pj44gsauf78","stores":[{"storeId":2740,"storeType":"Mobile
        SAS","name":"CHERRY CREEK MALL"},{"storeId":1224,"storeType":"Big Box","name":"BELMAR
        CO"}],"warnings":"Distances are in terms of miles (default)"}'
  recorded_at: Wed, 01 Nov 2017 16:17:51 GMT
recorded_with: VCR 3.0.3
